<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Testing testNG file">
  <parameter name="browser" value="chrome" />
  <parameter name="url" value="https://demo.opencart.com/index.php?route=account/login" />
  <parameter name="expectedTitle" value="Amazon.com. Spend less. Smile more." />
    <classes>
     <!--  <class name="TestNGConcept.InvocationCountTest"/>
      <class name="TestNGConcept.TestNGAnnotations"/>
      <class name="TestNGConcept.ExpectedException"/>
      <class name="TestNGConcept.AmazonTest"/>
	  <class name="TestNGConcept.BaseTest"/> -->
	  <class name = "TestNGConcept.DataProviderConcept"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
